<section>
  <h1>Accueil</h1>

  <div class="alert alert-danger text-center" role="alert">
    ⚠ Ce site est un site de démonstration, contenant des données fictives, et ayant pour unique objectif, de présenter mes compétences en Angular et CodeIgniter.
  </div>

  <div class="flex-wrap content-center justify-center hidden w-full shadow-md md:flex rounded-r-md bg-primary_dark animate__animated animate__slideInRight animate__fast" style="height: 32rem;margin-top:115px;">
    <img class="bg-center rounded-r-md animate__animated animate__headShake" src="assets/images/cia-secure.png">
  </div>
</section>
